<h1>Our Website</h1>

<% @events.each do |event| %>
    <h2><%= link_to event.title, event %></h2>
    <p><%= event.content %></p>
    <hr />
<% end %>

<p><%= link_to "Add a new event", new_event_path %></p>