html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 10;
  padding: 10;
  border: 10;
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------- Sass Variables -------- */

$almostblack: #222;
$pastelblue: #5E75B5;
$darkblue: #3B3F52;
$deepblue: #585C70;
$lightblue: #949BB5;
$mediumgrey: #555;
$darkgrey: #333;
$lightgrey: #ccc;
$content_text: $darkgrey;
$white: #fff;
$black: #000;

/* -------- Main Styles --------- */

/* General Tags */

body {
  background-image: url(bg.jpg);
  background-attachment: fixed;
  text-align: center;
  min-height: 1080px;
  margin: 0px;

  h1, h2, h3 {
    margin-bottom: 12px;
    color: $deepblue;
  }

  h1 {
    font-size: 200%;
  }

  h2 {
    font-size: 140%;
  }

  h3 {
    font-size: 110%;
  }

  a:link, a:visited {
    color: $darkblue;
  }

  a:hover, a:active {
    color: $darkblue;
  }

  /* Container */

  #container {
    text-align: left;
  }

  /* Header */

  #header {
    background-image: -webkit-linear-gradient(top, #565656 0%, #999999 100%);
    color: $white;
    height: 110px;
    text-align: left;
    padding: 20px;

    a {
      padding: 20px 10px 10px 15px;
      color: $almostblack;
      text-decoration: none;
      font-size: 180%;
      border: none;
    }

    span, img {
      float: left;
    }

    img {
      border: none;
    }
  }
  #logo {
    width: 50%;
    float: left;
  }
  #avatar {
    width: 50%;
    float: right;

    span, img {
      float: right;
      margin: 20px;
    }
  }

  /* Content */

  #content {
    clear: both;
    color: $content_text;
    overflow: hidden;
    padding: 15px;
    width: 80%;
    background: #dddddd;
    margin: 0px auto;

    p {
      margin-top: 5px;
      margin-bottom: 5px
    }

    ul {
      list-style-type: square;
      margin-left: 20px;
    }

    li {
      margin-bottom: 5px;
    }

    input {
      width: 50%;
    }

    textarea {
      width: 100%;
      height: 200px;
    }

    .sign_in, .register, .settings {
      padding-bottom: 20px;

      input {
        margin: 5px;
        width: 300px;
      }

      input[type="checkbox"] {
        margin-left: 5px;
        width: 10px;
      }

      label {
        margin-left: 0px;
      }
    }

    .event_preview {
      padding-left: 0px;
      width: 33%;
      float: left;

      a {
        color: $content_text;
        text-decoration: none;
        -webkit-transition: color .5s;
        -moz-transition: color .5s;
        -ms-transition: color .5s;
        -o-transition: color .5s;
        transition: color .5s;
      }

      a:hover {
        color: #1111AA;
      }

      .title {
        font-size: 150%;
      }

      .date {
        padding-left: 10px;
        font-size: 90%;
      }

      .text {
        color: $content_text;
        padding-left: 10px;
        font-size: 90%;
      }

    }

    .event_detail {

      .title {
        font-size: 200%;
      }

      .date, .type_venue {
        font-size: 90%;
        font-style: italic;
      }

      .text {
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .book {
        width: 200px;
      }

      .tickets {
        font-size: 80%;
        color: $black;
      }

      input {
        margin: 5px;
        width: 50px;
      }
    }

    .bold {
      font-weight: bold;
    }

    .small_button {
      width: 200px;
    }

    .new_event {
      display: inline-block;
      width: 500px;

      input {
        width: 100%;
      }
    }
  }

  /* Flash Message */
  #message {
    background-color: #FCDDBB;
    border: 1px solid #555;
    color: #000;
    padding: 10px;
  }

  /* Form Errors */

  #form-errors {
    margin-bottom: 20px;
    margin-left: 30px;
    list-style-type: square;

    li {
      color: red;
    }
  }

  /* Footer */

  #footer {
    color: $darkgrey;
    text-align: center;
    padding: 4em;
  }
}


